*{
    margin: 0%;
    padding: 0%;
}
.menu-container{
    padding: 10px;
    background-color: grey;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo{
    width: 120px;
}
.menu{
    display: flex;
    margin-right: 5px;
    padding: 15px;
    margin: 15px;
}
.memo{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.memo :hover{
    color: brown;
}